<footer class="footer">
  <div class="footer__contact">
    <h2 class="footer__title">Contacto</h2>
    <p><i class="fa fa-map-marker"></i>&nbsp;Dirección: <a href="http://maps.google.com/?q=03160+almoradi" target="_blank" class="footer__contact-link">Calle Mayor, 123, Comarca Vega Baja</a></p>
    <p><i class="fa fa-phone"></i>&nbsp;Teléfono: <a href="tel:+34123456789" class="footer__contact-link">+34 123 456 789</a></p>
    <p><i class="fa fa-envelope"></i>&nbsp;Email: <a href="mailto:info@vegabajamola.com" class="footer__contact-link">info@vegabajamola.com</a></p>
  </div>
  
  <div class="footer__social">
    <h2 class="footer__title">Síguenos&nbsp;</h2>
    <ul class="footer__social-list">
      <li><a href="#" target="_blank" class="footer__social-link footer__social-link--facebook"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#" target="_blank" class="footer__social-link footer__social-link--instagram"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#" target="_blank" class="footer__social-link footer__social-link--twitter"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" target="_blank" class="footer__social-link footer__social-link--linkedin"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#" target="_blank" class="footer__social-link footer__social-link--whatsapp"><i class="fab fa-whatsapp"></i></a></li>
    </ul>
  </div>
</footer>
