<footer class="footer">
  <div class="footer__contact">
    <h2 class="footer__title">Contacto</h2>
    <p>Dirección: Calle Mayor, 123, Comarca Vega Baja</p>
    <p>Teléfono: +34 123 456 789</p>
    <p>Email: info@vegabajamola.com</p>
  </div>
  
  <div class="footer__social">
    <h2 class="footer__title">Síguenos&nbsp;</h2>
    <ul class="footer__social-list">
      <li><a href="https://www.facebook.com" target="_blank" class="footer__social-link footer__social-link--facebook"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com" target="_blank" class="footer__social-link footer__social-link--instagram"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.twitter.com" target="_blank" class="footer__social-link footer__social-link--twitter"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com" target="_blank" class="footer__social-link footer__social-link--linkedin"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://www.whatsapp.com" target="_blank" class="footer__social-link footer__social-link--whatsapp"><i class="fab fa-whatsapp"></i></a></li>
    </ul>
  </div>
</footer>
