<header class="header">
  <a href="#" class="header__logo"><img src="assets/images/logo.png" alt=""></a>
  <nav class="header__nav">
    <ul class="nav-container">
      <li class="nav-container__item"><a href="#" class="nav-container__link nav-container__link--active">Inicio</a></li>
      <li class="nav-container__item"><a href="#" class="nav-container__link">Historia</a></li>
      <li class="nav-container__item"><a href="#" class="nav-container__link">Rutas</a></li>
      <li class="nav-container__item"><a href="#" class="nav-container__link">Monumentos</a></li>
      <li class="nav-container__item"><a href="#" class="nav-container__link">Contacto</a></li>
    </ul>
  </nav>
</header>
