.margin-sm {
  margin: $small-px;
}

.margin-md {
  margin: $medium-px;
}

.margin-bg {
  margin: $big-px;
}

.padding-sm {
  padding: $small-px;
}

.padding-md {
  padding: $medium-px;
}

.padding-bg {
  padding: $big-px;
}

.text-center {
  text-align: center;
}